<%= form_for @file_record, :html => {:multipart => true} do |form| %>
  <% if file_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(file_record.errors.count, "error") %> prohibited this file_record from being saved:</h2>

      <ul>
      <% file_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name,class:'form-control' %>
  </div>

  <div class="field">
    <%= form.label :file %>
    <%= form.file_field :file,class:'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit',class:'btn btn-success' %>
  </div>
<% end %>
